* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    max-width: auto;
    background-color: beige; 
    max-height: 50vh;
}

 /* Header begins */

 header {
   background-color: #030324;
   width: 100%;
   height: 50px;
   padding: 1rem;
}

.span {
    float: right;
}

.fa-solid {
    float: left;
    font-size: 25px;
    color: white;
    transition-duration: 7s;
}

.fa-solid:hover {
    color:  #030324;
}

nav {
    position: fixed;
    left: -100%;
    height: 100vh;
    background-color: white;
    color: #474545;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 30px 5px black; 
    transition-duration: 2s;
}

.head:hover nav {
    left: 0;
   min-width: 15%;
}

header ul li {
    list-style-type: none;
}

.logo img {
    width: 160px;
    height: auto;
}

.logo {
   height: 74px;
   padding: 1rem;
   text-align: center;
   background-color: beige;
}

.name {
    background-color: #030324;
    color: white;
    font-size: 16px;
    padding: 1.5rem;
    height: auto;
    text-align: center;
    line-height: 1.5rem;
}

.name p:nth-child(2) {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name p span {
    color: goldenrod;
}

.padding {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    overflow-y: scroll;
    height: 78vh;
}

.main ul li, .our-services ul li, .extra ul li {
    /* background-color: #e2dcdcde; */
    border-radius: 0.1rem;
    height: auto;
    box-shadow: 0.5px 0.5px 8px 0px #9e9c9c;
    width: 30vh;
    padding: 1rem;
}

.main ul li:first-child {
    background-color: #ebd2d241;  
}

nav a {
    text-decoration: none;
    color: #474545;
}

nav a:hover {
    color: black;
}

nav .aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

nav aside p {
    border-top: 1px solid #7c7a7a3f;
}

nav .subject {
    color: inherit;
    padding: 0.3rem;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.our-services ul li:nth-child(2):hover, .our-services ul li:nth-child(5):hover, .extra ul li:nth-child(2):hover, .extra ul li:nth-child(3):hover {
    background-color: #ebd2d241;
    transition-duration: 5s;
}

nav aside details summary {
    cursor: pointer;
}
/* header ends */

/* Main begins */

/* art1 */
.art1 {
    background-color: #030324;
    color: white;
    padding: 4.3rem;
    height: 27vh;
}

.art1 h3 {
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: goldenrod;
}

.art1 h3::first-letter {
    color: #ffd90070;
}

.art1 p {
    margin-top: 10px;
    font-size: 20px;
}
/* art1 ends */

/* art2 begins */
/* Sect1 */
.sect1 {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.sect1 div {
border: 1px solid white;
border-radius: 0.2rem;
box-shadow: 1px 1px 15px 2px #030324;
background-color: white;
width: 447px;
height: auto;
margin-top: -70px;
padding: 1rem;
}

.wallet, .account, .user, .whatsapp {
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   gap: 30px;
}

.sect1 h6 {
    font-size: 20px;
    font-weight: 10;
}

.sect1 h3 {
   font-weight: 1;
   font-style: normal;
   font-family: 'Courier New', Courier, monospace;
   font-size: 30px;
   white-space: nowrap;
}

.wallet h3 {
    color: blue;
    font-style: normal;
    font-weight: 500;
    text-shadow: 0px 7px 6px grey;
}

.sect1 p a {
    color: crimson;
    text-decoration: none;
}

.sect1 p a:hover {
    color: blue;
    text-decoration: underline;
}
/* sect1 ends */

/* Sect2 begins */
.sect2 {
    display: flex;
    gap: 2rem;
    margin-top: 30px;
    justify-content: center;
}

.sect2 .unique {
    border: 1px solid white;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 10px 1px #030324;
    background-color: #ffffffea; 
    padding: 1rem;
    width: 60.5%;
    height: auto;
}

.sect2 h6 {
    font-size: 20px;
    font-weight: 10;
}

.content {
    margin-top: 30px;
    color: #000000d7;
    font-size: 17px;
    line-height: 150%;
    white-space: collapse;
    font-size: 19px;
}

.accountnumber {
    margin-top: 40px;
}

.accountnumber p {
    margin-bottom: 30px;
    border-bottom: 1px solid #0000002a;
}

.accountnumber span {
    color: #000000dc;
    font-size: 17px; 
}

.sect2 .quicklinks {
    border: 1px solid white;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 10px 1px #030324;
    background-color: #ffffffea; 
    padding: 1rem;
    width: 31%;
    height: auto;
}

.sect2 .details {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1px;
}

.details p {
    margin-top: 30px;
    border-top: 1px solid #00000025;
    padding: 0.5rem;
}

.details p a {
    text-decoration: none;
    color: crimson;
}

.details p a:hover {
    text-decoration: underline;
    color: blue;
}
/* Sect2 ends */

/* FOOTER begins  */
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* padding: 4rem; */
}

footer p a {
    text-decoration: none;
    color:#00000085;
}

footer p a:hover {
    text-decoration: underline;
}

.ptc {
    display: flex;
    gap: 15px;
}
/* FOOTER ends */

@media screen and ( max-width: 1672.50px) {

/* MAIN begins */

.art1 {
    height: 300px;
}
/* ART2 */
.sect1 {
    display: flex;
    justify-content: space-evenly;
  }
.sect1 div {
    width: 220px;
    }

    .sect2 .details {
        gap: 20px;
    }
}

@media screen and ( max-width: 1176px) {

    .art1 {
        height: 40vh;
    }

    .sect1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-top: -2%;

      }

      .sect1 div {
        width: 350px;
        margin-top: 1%;
        }

        .sect2 .details {
            gap: 22px;
        }
}

@media screen and ( max-width: 830px) {

    .sect1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }

      .sect1 div {
        width: 200px;
        }

        .sect1 h3 {
            font-size: 25px;
         }

         .sect2 .details {
            gap: 40px;
        }
}

@media screen and ( max-width: 750px) {

    .art1 {
        padding: 2.5rem;
    }

    .sect2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .sect2 .unique {
        width: 82%;
        height: auto;
    }

.sect2 .quicklinks {
    width: 70%;
    height: auto;
}

    footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }    
}

@media screen and ( max-width: 520px) {

    .art1 h3 {
        margin-top: -10px;
    }

    .sect1 {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -20px;
      }
 
      .sect1 div {
        width: 350px;
        }

        .sect2 .quicklinks {
            width: 80%;
            height: auto;
}
}